{% extends 'base.html.twig' %}

{# {% block title %}Accueil!{% endblock %} #}

{% block body %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'Accueil</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container d-flex h-100 mt-center" >
        <div class="row justify-content-center align-self-center w-100">
            <div class="col-12 text-center">
                <h1 class="display-4">Bienvenue !</h1>
                <p class="lead">Sur la page d'accueil</p>
            </div>
        </div>
    </div>
</body>

</html>



{% endblock %}
